[package]
versioned_files = [
    { path = "SettingsScroll/SettingsScroll.csproj", regex = '<Version>(?<version>\d+\.\d+\.\d+)</Version>' },
]
changelog = "CHANGELOG.md"
assets = "build/*.zip"
extra_changelog_sections = [
    { types = ["major"], name = "Breaking Changes" },
    { types = ["minor"], name = "Added" },
    { types = ["patch"], name = "Improvements" },
]

[[workflows]]
name = "prepare-release"

[[workflows.steps]]
type = "Command"
command = "git switch -c release"

[[workflows.steps]]
type = "PrepareRelease"
ignore_conventional_commits = true

[[workflows.steps]]
type = "Command"
command = "git commit -m \"chore: prepare release $version\""

[[workflows.steps]]
type = "Command"
command = "git push --force --set-upstream origin release"

[[workflows.steps]]
type = "CreatePullRequest"
base = "main"

[workflows.steps.title]
template = "chore: prepare release $version"

[workflows.steps.body]
template = """
> [!IMPORTANT]
> Merging this PR will create a new release.

$changelog"""

[[workflows]]
name = "release"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "document-change"

[[workflows.steps]]
type = "CreateChangeFile"

[github]
owner = "hazre"
repo = "SettingsScroll"
