name: Build

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: ./.github/actions/dotnet-build
        id: setup
        with:
          build: "true"

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: SettingsScroll-${{ steps.setup.outputs.version }}-${{ steps.setup.outputs.sha_short }}
          path: |
            ./bin/Release/*.dll
            ./build/*.zip
